---
layout: page
title: Publications
weight: 1
---

{% assign year = {{ site.time | date: '%Y' }} %}
{% assign year = 2017 %}

<ul>
{% for p in site.data.publications %}
  {% if p.year != year %}<h2>{% assign year = p.year %}{{ year }}</h2>{% endif %}
  <li>[{{ p.year }}{{ p.id }}]&nbsp{{ p.authors }},&nbsp{{ p.title }},&nbsp<i>{{ p.journal }}</i>&nbsp{{ p.volume }}{% if p.issue %}&nbsp({{ p.issue }}){% endif %},&nbsp{% if p.pages %}{{ p.pages }}&nbsp{% endif %}({{ p.year }}).{% if p.link or p.pdfLink %}<br>{% if p.link %}<a href="{{ p.link }}">View Online</a>{% endif %}{% if p.pdfLink %}&nbsp<a href="{{ p.pdfLink }}">Download PDF</a>{% endif %}{% endif %}</li>
{% endfor %}
</ul>
