<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- Mathjax -->
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML">
  </script>

  <title>
    {% if page.title == "Home" %}
    {{ site.title }}
    {% else %}
    {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>
</head>
