<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  {% include head.html %}
  <body>
    <header>
      <nav>
        <h1><a href="{{ site.url }}" title="Home">{{ site.title }}</a></h1>
      </nav>
    </header>
    <main>
      <ul>
        {% for weight in (1..1) %} {% for p in site.pages %} {% if p.weight == weight %}
        <li><a href="{{ p.url }}"> {{ p.title }}</a></li>
        {% endif %} {% endfor %} {% endfor %}
      </ul>
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
